src/FastEnumToStringGenerator/.vs/
src/FastEnumToStringGenerator/FastEnumToStringGenerator/bin/
src/FastEnumToStringGenerator/FastEnumToStringGenerator/obj/
src/FastEnumToStringGenerator/FastEnumToStringGeneratorTests/bin/
src/FastEnumToStringGenerator/FastEnumToStringGeneratorTests/obj/
src/FastEnumToStringGenerator/FastEnumToStringGeneratorTests/Generated/